{
  "env": {
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "space-before-function-paren": ["error", "never"],
    "prefer-destructuring": 0,
    "comma-dangle": 0
  }
}
